<h1><%= @courseType.name %></h1>


<div class="xs-col-12" >
    <%= @courseType.description %>
</div>
<h3>Courses</h3>
<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
        
    </thead>
    <% @courseType.courses.each do |course| %>
    <tr>
        <td><%= course.start.to_s(:course) %></td>
        <td><%= course.end.to_s(:course) %></td>
        <td><a href=<%= edit_course_path(course.id)%> class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a> </td>
    </tr>
    
    <% end %>
</table>