<%= form_for @course do |f| %>

<P><%=f.label "Start Date and Time:" %><%= f.datetime_select :start %></p>

<p><%=f.label "End Date and Time:"%><%= f.datetime_select :end %></p>

<%= f.submit :class => "form-btn" %>

<% end %>