<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><span class="glyphicon glyphicon-home"><%=link_to "Home", "#" %></span></li>
        <li><span class="glyphicon glyphicon-log-in"><%=link_to "Log in", "#"%></span></li>
        
      </ul>
      
    </nav>
    
  </div>
</header>
<div class="container">
<%= yield %>
</div>
</body>
</html>
